{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}
template-blogindexpage
{% endblock %}

{% block content %}

    <div class="container text-center">

        <div class="intro mb-5">
            {{ page.intro|richtext }}
        </div>

        {% for post in blogpages %}

            {% with post=post.specific %}

                <article class="blog-post mb-5">
                    <h4 class="mb-3">
                        <a href="{% pageurl post %}">{{ post.title }}</a>
                    </h4>

                    {% with post.main_image as main_image %}
                        {% if main_image %}
                            <div class="post-image mb-3">
                                {% image main_image fill-400x250 %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <p class="post-intro mb-3">
                        {{ post.intro }}
                    </p>

                    <div class="post-body">
                        {{ post.body|richtext }}
                    </div>
                </article>

            {% endwith %}

        {% endfor %}

    </div>

{% endblock %}
